<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">
  <app-header></app-header>

  <!-- breadcrumb start -->
  <!-- ================ -->
  <div class="breadcrumb-container">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Cadastro</li>
      </ol>
    </div>
  </div>
  <!-- breadcrumb end -->

  <router-outlet></router-outlet>

  <app-footer></app-footer>
</div>
<!-- page-wrapper end -->
