<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Forms</li>
    </ol>
  </div>
</div>
<!-- breadcrumb end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-lg-8">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title">Forms</h1>
        <div class="separator-2"></div>
        <!-- page-title end -->

        <!-- Forms -->
        <!-- ============================================================================== -->
        <br>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
          </button>
          For more info about forms please visit <a target="_blank" class="alert-link"
            href="https://getbootstrap.com/docs/4.0/components/forms/">https://getbootstrap.com/docs/4.0/components/forms/</a>.
        </div>

        <h2 class="mt-5">Basic example</h2>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">
              Check me out
            </label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <h2 class="mt-5">Inline form</h2>
        <form class="form-inline">
          <label class="sr-only" for="inlineFormInput">Name</label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Name">

          <label class="sr-only" for="inlineFormInputGroup">Username</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
          </div>

          <div class="form-check mb-2 mr-sm-2 mb-sm-0">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">
              Remember me
            </label>
          </div>

          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <h2 class="mt-5">Horizontal form</h2>
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <fieldset class="form-group">
            <legend class="col-form-legend col-sm-2">Radios</legend>
            <div class="row">
              <div class="col-sm-10">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                      checked>
                    Option one is this and that be sure to include why it's great
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    Option two can be something else and selecting it will deselect option one
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3"
                      disabled>
                    Option three is disabled
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Check me out
              </label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-default">Sign in</button>
            </div>
          </div>
        </form>
        <h2>Text Area</h2>
        <form>
          <div class="form-group">
            <label for="exampleTextarea">Example textarea</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
        </form>
        <h2 class="mt-5">Checkboxes and radios</h2>
        <form>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label">
              Option one is this and that be sure to include why it's great
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="checkbox" value="" disabled>
            <label class="form-check-label">
              Option two is disabled
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label">
              1
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label">
              2
            </label>
          </div>
          <div class="form-check form-check-inline disabled">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
            <label class="form-check-label">
              3
            </label>
          </div>
          <br>
          <br>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
              checked>
            <label class="form-check-label">
              Option one is this and that be sure to include why it's great
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label">
              Option two can be something else and selecting it will deselect option one
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3"
              disabled>
            <label class="form-check-label">
              Option three is disabled
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label">
              1
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label">
              2
            </label>
          </div>
          <div class="form-check form-check-inline disabled">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"
              disabled>
            <label class="form-check-label">
              3
            </label>
          </div>
        </form>
        <h2 class="mt-5">Selects</h2>
        <form>
          <div class="form-group">
            <label for="exampleSelect1">Example select</label>
            <select class="form-control" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleSelect2">Example multiple select</label>
            <select multiple class="form-control" id="exampleSelect2">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </form>
        <h2 class="mt-5">Disabled</h2>
        <form>
          <fieldset disabled>
            <div class="form-group">
              <label for="disabledTextInput">Disabled input</label>
              <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
            </div>
            <div class="form-group">
              <label for="disabledSelect">Disabled select menu</label>
              <select id="disabledSelect" class="form-control">
                <option>Disabled select</option>
              </select>
            </div>
            <div class="checkbox">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Can't check this
              </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </fieldset>
        </form>
        <h2 class="mt-5">Validation states</h2>
        <form>
          <div class="form-group">
            <label for="inputSuccess1">Input with success</label>
            <input type="text" class="form-control is-valid" id="inputSuccess1">
            <div class="valid-feedback">Success! You've done it.</div>
          </div>
          <div class="form-group">
            <label for="inputWarning1">Input with warning</label>
            <input type="text" class="form-control is-warning" id="inputWarning1">
            <div class="warning-feedback">Shucks, check the formatting of that and try again.</div>
          </div>
          <div class="form-group">
            <label for="inputDanger1">Input with danger</label>
            <input type="text" class="form-control is-invalid" id="inputDanger1">
            <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
          </div>
        </form>
        <h2 class="mt-5">With optional icons</h2>
        <form>
          <div class="form-row">
            <div class="col-md-4">
              <div class="form-group has-feedback">
                <label for="inputSuccess2">Input with success</label>
                <input type="text" class="form-control is-valid" id="inputSuccess2">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group has-feedback">
                <label for="inputWarning2">Input with warning</label>
                <input type="text" class="form-control is-warning" id="inputWarning2">
                <i class="fa fa-warning form-control-feedback"></i>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group has-feedback">
                <label for="inputError2">Input with error</label>
                <input type="text" class="form-control is-invalid" id="inputError2">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4">
              <div class="form-group has-feedback">
                <label>Username</label>
                <input type="text" class="form-control">
                <i class="fa fa-user form-control-feedback"></i>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group has-feedback">
                <label>Password</label>
                <input type="password" class="form-control">
                <i class="fa fa-lock form-control-feedback"></i>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group has-feedback">
                <label>Email</label>
                <input type="email" class="form-control">
                <i class="fa fa-envelope-o form-control-feedback"></i>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- main end -->

      <!-- sidebar start -->
      <!-- ================ -->
      <aside class="col-lg-4 col-xl-3 ml-xl-auto">
        <div class="sidebar">
          <div class="block clearfix">
            <h3 class="title">Components</h3>
            <div class="separator-2"></div>
            <nav>
              <ul class="nav flex-column list-style-icons">
                <li class="nav-item"><a class="nav-link " href="components-social-icons.html"><i
                      class="fa fa-share-alt"></i> Social Icons</a></li>
                <li class="nav-item"><a class="nav-link " href="components-buttons.html"><i class="fa fa-flask"></i>
                    Buttons</a></li>
                <li class="nav-item"><a class="nav-link active" href="components-forms.html"><i
                      class="fa fa-align-justify"></i> Forms</a></li>
                <li class="nav-item"><a class="nav-link " href="components-tabs-and-pills.html"><i
                      class=" fa fa-list-ul"></i> Tabs &amp; Pills</a></li>
                <li class="nav-item"><a class="nav-link " href="components-accordions.html"><i class="fa fa-bars"></i>
                    Accordions</a></li>
                <li class="nav-item"><a class="nav-link " href="components-progress-bars.html"><i
                      class="fa fa-line-chart"></i> Progress Bars</a></li>
                <li class="nav-item"><a class="nav-link " href="components-call-to-action.html"><i
                      class="fa fa-comments-o"></i> Call to Action Blocks</a></li>
                <li class="nav-item"><a class="nav-link " href="components-alerts-and-callouts.html"><i
                      class="fa fa-info-circle"></i> Alerts &amp; Callouts</a></li>
                <li class="nav-item"><a class="nav-link " href="components-content-sliders.html"><i
                      class="fa fa-star"></i> Content Sliders</a></li>
                <li class="nav-item"><a class="nav-link " href="components-charts.html"><i class="fa fa-pie-chart"></i>
                    Charts</a></li>
                <li class="nav-item"><a class="nav-link" href="components-page-loaders.html"><i
                      class="fa fa-rotate-right"></i> Page Loaders</a></li>
                <li class="nav-item"><a class="nav-link " href="components-icon-boxes.html"><i
                      class="fa fa-picture-o"></i> Icon Boxes</a></li>
                <li class="nav-item"><a class="nav-link " href="components-image-boxes.html"><i
                      class="fa fa-camera"></i> Image Boxes</a></li>
                <li class="nav-item"><a class="nav-link " href="components-fullwidth-sections.html"><i
                      class="fa fa-code"></i> Full Width Sections</a></li>
                <li class="nav-item"><a class="nav-link " href="components-animations.html"><i class="fa fa-heart"></i>
                    Animations</a></li>
                <li class="nav-item"><a class="nav-link " href="components-video-and-audio.html"><i
                      class="fa fa-play"></i> Video</a></li>
                <li class="nav-item"><a class="nav-link " href="components-lightbox.html"><i
                      class="fa fa-search-plus"></i> Lightbox</a></li>
                <li class="nav-item"><a class="nav-link " href="components-counters.html"><i
                      class="fa fa-sort-numeric-desc"></i> Counters</a></li>
                <li class="nav-item"><a class="nav-link " href="components-modals.html"><i class="fa fa-arrows-alt"></i>
                    Modals</a></li>
                <li class="nav-item"><a class="nav-link " href="components-tables.html"><i class="fa fa-table"></i>
                    Tables</a></li>
                <li class="nav-item"><a class="nav-link " href="components-text-rotators.html"><i
                      class="fa fa-rotate-left"></i> Text Rotators</a></li>
                <li class="nav-item"><a class="nav-link " href="components-announcement-default.html"><i
                      class="fa fa-bullhorn"></i> Announcement</a></li>
                <li class="nav-item"><a class="nav-link " href="components-separators.html"><i class="fa fa-star"></i>
                    Separators</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </aside>
      <!-- sidebar end -->

    </div>
  </div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<div class="section light-gray-bg">
  <div class="container">
    <h2>Form elements (Gray Background)</h2>
    <form>
      <div class="form-row">
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label for="inputSuccess3">Input with success</label>
            <input type="text" class="form-control is-valid" id="inputSuccess3">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label for="inputWarning3">Input with warning</label>
            <input type="text" class="form-control is-warning" id="inputWarning3">
            <i class="fa fa-warning form-control-feedback"></i>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label for="inputError3">Input with error</label>
            <input type="text" class="form-control is-invalid" id="inputError3">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label>Username</label>
            <input type="text" class="form-control">
            <i class="fa fa-user form-control-feedback"></i>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label>Password</label>
            <input type="password" class="form-control">
            <i class="fa fa-lock form-control-feedback"></i>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label>Email</label>
            <input type="email" class="form-control">
            <i class="fa fa-envelope-o form-control-feedback"></i>
          </div>
        </div>
      </div>
    </form>
    <form>
      <div class="form-group">
        <label for="disabledTextInput2">Disabled input</label>
        <input type="text" id="disabledTextInput2" class="form-control" placeholder="Disabled input" disabled="">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label">
          Option one is this and that be sure to include why it's great
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input" type="checkbox" value="" disabled>
        <label class="form-check-label">
          Option two is disabled
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios12" value="option1" checked>
        <label class="form-check-label">
          Option one is this and that be sure to include why it's great
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios22" value="option2">
        <label class="form-check-label">
          Option two can be something else and selecting it will deselect option one
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios32" value="option3" disabled>
        <label class="form-check-label">
          Option three is disabled
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
<!-- section end -->
<div class="space"></div>
<!-- section start -->
<!-- ================ -->
<div class="section dark-bg text-muted">
  <div class="container">
    <h2>Form elements (Dark Background)</h2>
    <form>
      <div class="form-row">
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label for="inputSuccess4">Input with success</label>
            <input type="text" class="form-control is-valid" id="inputSuccess4">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label for="inputWarning4">Input with warning</label>
            <input type="text" class="form-control is-warning" id="inputWarning4">
            <i class="fa fa-warning form-control-feedback"></i>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label for="inputError4">Input with error</label>
            <input type="text" class="form-control is-invalid" id="inputError4">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label>Username</label>
            <input type="text" class="form-control">
            <i class="fa fa-user form-control-feedback"></i>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label>Password</label>
            <input type="password" class="form-control">
            <i class="fa fa-lock form-control-feedback"></i>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label>Email</label>
            <input type="email" class="form-control">
            <i class="fa fa-envelope-o form-control-feedback"></i>
          </div>
        </div>
      </div>
    </form>
    <form>
      <div class="form-group">
        <label for="disabledTextInput23">Disabled input</label>
        <input type="text" id="disabledTextInput23" class="form-control" placeholder="Disabled input" disabled="">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label">
          Option one is this and that be sure to include why it's great
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input" type="checkbox" value="" disabled>
        <label class="form-check-label">
          Option two is disabled
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios13" value="option1" checked>
        <label class="form-check-label">
          Option one is this and that be sure to include why it's great
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios23" value="option2">
        <label class="form-check-label">
          Option two can be something else and selecting it will deselect option one
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios33" value="option3" disabled>
        <label class="form-check-label">
          Option three is disabled
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
<!-- section end -->
<div class="container">
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span
        class="sr-only">Close</span></button>
    The <strong>Default Background</strong> is defined by the current color scheme.
  </div>
</div>
<!-- section start -->
<!-- ================ -->
<div class="section default-bg">
  <div class="container">
    <h2>Form elements (Default Background)</h2>
    <form>
      <div class="form-row">
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label for="inputSuccess5">Input with success</label>
            <input type="text" class="form-control is-valid" id="inputSuccess5">
            <i class="fa fa-check form-control-feedback"></i>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label for="inputWarning5">Input with warning</label>
            <input type="text" class="form-control is-warning" id="inputWarning5">
            <i class="fa fa-warning form-control-feedback"></i>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label for="inputError5">Input with error</label>
            <input type="text" class="form-control is-invalid" id="inputError5">
            <i class="fa fa-times form-control-feedback"></i>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label>Username</label>
            <input type="text" class="form-control">
            <i class="fa fa-user form-control-feedback"></i>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label>Password</label>
            <input type="password" class="form-control">
            <i class="fa fa-lock form-control-feedback"></i>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label>Email</label>
            <input type="email" class="form-control">
            <i class="fa fa-envelope-o form-control-feedback"></i>
          </div>
        </div>
      </div>
    </form>
    <form>
      <div class="form-group">
        <label for="disabledTextInput24">Disabled input</label>
        <input type="text" id="disabledTextInput24" class="form-control" placeholder="Disabled input" disabled="">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label">
          Option one is this and that be sure to include why it's great
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input" type="checkbox" value="" disabled>
        <label class="form-check-label">
          Option two is disabled
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios14" value="option1" checked>
        <label class="form-check-label">
          Option one is this and that be sure to include why it's great
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios24" value="option2">
        <label class="form-check-label">
          Option two can be something else and selecting it will deselect option one
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios34" value="option3" disabled>
        <label class="form-check-label">
          Option three is disabled
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
<!-- section end -->
<div class="space"></div>
<!-- section start -->
<!-- ================ -->
<footer class="section footer">
  <div class="container">
    <div class="footer-content">
      <h2>Form elements (Footer)</h2>
      <form>
        <div class="form-row">
          <div class="col-md-4">
            <div class="form-group has-feedback">
              <label for="inputSuccess6">Input with success</label>
              <input type="text" class="form-control is-valid" id="inputSuccess6">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-feedback">
              <label for="inputWarning6">Input with warning</label>
              <input type="text" class="form-control is-warning" id="inputWarning6">
              <i class="fa fa-warning form-control-feedback"></i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-feedback">
              <label for="inputError6">Input with error</label>
              <input type="text" class="form-control is-invalid" id="inputError6">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4">
            <div class="form-group has-feedback">
              <label>Username</label>
              <input type="text" class="form-control">
              <i class="fa fa-user form-control-feedback"></i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-feedback">
              <label>Password</label>
              <input type="password" class="form-control">
              <i class="fa fa-lock form-control-feedback"></i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-feedback">
              <label>Email</label>
              <input type="email" class="form-control">
              <i class="fa fa-envelope-o form-control-feedback"></i>
            </div>
          </div>
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="disabledTextInput26">Disabled input</label>
          <input type="text" id="disabledTextInput26" class="form-control" placeholder="Disabled input" disabled="">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="">
          <label class="form-check-label">
            Option one is this and that be sure to include why it's great
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="checkbox" value="" disabled>
          <label class="form-check-label">
            Option two is disabled
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios16" value="option1"
            checked>
          <label class="form-check-label">
            Option one is this and that be sure to include why it's great
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios26" value="option2">
          <label class="form-check-label">
            Option two can be something else and selecting it will deselect option one
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios36" value="option3"
            disabled>
          <label class="form-check-label">
            Option three is disabled
          </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</footer>
<!-- section end -->
<div class="space"></div>

<!-- footer top start -->
<!-- ================ -->
<div class="dark-bg default-hovered footer-top animated-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-action text-center">
          <div class="row">
            <div class="col-md-8">
              <h2 class="mt-4">Powerful Bootstrap Template</h2>
              <h2 class="mt-4">Waste no more time</h2>
            </div>
            <div class="col-md-4">
              <p class="mt-3"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent">Purchase<i
                    class="fa fa-cart-arrow-down pl-20"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer top end -->
